/* Moderní box model - nastavená šířka boxu je včetně paddingu a borderu */
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*
  ------------------------------------------------
  */


header {
    padding: 50px;
    background-color: #918450;
    text-align: center;
    margin: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #FFD29D;
    text-align: justify;
    margin: 0;
    }
    
html {
    scroll-behavior: smooth;
    }

nav {
    text-align: center;
    padding: 16px;
    font-size: 20px;
    background-color: #F85E00;
    border-bottom: 3px solid #918450;
}

nav a {
    padding: 13px 70px 13px 70px;
    text-decoration: none;
    color: #500c0d;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: rgb(80, 12, 13);
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-decoration: wavy;
}

h2 {
    text-align: center;
    color: #500c0d;
    font-size: 24px; 
    font-weight: bold;
    font-style: italic;
}

section {
   overflow: auto;
   margin: 30px 100px 0 100px;
}

.kdo img {
   width: 200px;
   border-radius: 50px;
   float: left;
   margin: 0 30px 0 0;
   border: 2px solid #918450;
}

.foto img {
    width: 49%;
    display: inline-block;
    border-radius: 20px;
    border: 2px solid #918450;
    margin: 0;
}

.foto {
    text-align: left;
}

.kde img {
    width: 300px;
    border-radius: 50%;
    border: 2px solid #918450;
    margin: 10px 40px 30px 400px;
/*
 Zarovnat na střed - jak?
*/
}

footer {
    padding: 10px;
    background-color: #918450;
    text-align: center;
    margin: 0;
    color: #500c0d;
}

/*
proč jsou okraje i tam, kde jsem je nenastavovala?
*/