/* Moderní box model - nastavená šířka boxu je včetně paddingu a borderu */
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*
  ------------------------------------------------
  */


header {
    padding: 10px;
    background-color: #FFB563;
    text-align: center;
    margin: 0;
}


.roboto-400 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.comforter-brush-regular {
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    background-color: #FFD29D;
    text-align: justify;
    margin: 0;
    }
    
html {
    scroll-behavior: smooth;
    }

nav {
    text-align: center;
    padding: 16px;
    font-size: 20px;
    background-color: #918450;
    border-bottom: 4px solid #F85E00;
}

nav a {
    padding: 16px 70px 16px 70px;
    text-decoration: none;
    color: #500c0d;
    font-weight: bold;
}

nav a:hover {
    background-color: #F85E00;
}

nav a:focus {
    background-color: #FFB563;
}

h1 {
    text-align: center;
    color: rgb(80, 12, 13);
    font-size: 100px;
    letter-spacing: 10px;
    
}

h2 {
    font-family:'Comforter Brush';
   
    text-align: center;
    color: #500c0d;
    font-size: 30px; 
    font-weight: 400px;
    
}

section {
   overflow: auto;
   margin: 30px 100px 0 100px;
}

.kdo img {
   width: 200px;
   border-radius: 50px;
   float: left;
   margin: 0 30px 0 0;
   border: 2px solid #918450;
}

.foto img {
    width: 49%;
    display: inline-block;
    border-radius: 20px;
    border: 2px solid #918450;
    margin: 0;
}

.foto {
    text-align: left;
}

.kde img {
    width: 300px;
    border-radius: 50%;
    border: 2px solid #918450;
    margin-bottom: 30px;
}
    
.kde-obrazek {
    text-align: center;
}

/*
 Zarovnat na střed - jak?
*/


footer {
    padding: 10px;
    background-color: #918450;
    text-align: center;
    margin: 0;
    color: #500c0d;
}

/*
proč jsou okraje i tam, kde jsem je nenastavovala?
*/